.main {
  position: relative;
  background-color: var(--system-black);
  color: #fff;
  overflow: hidden;
}

.thankyou-epp {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
